<span class="ql-formats">
  <button class="ql-bold" {{tooltip "bold"}}></button>
  <button class="ql-italic" {{tooltip "italic"}}></button>
  <button class="ql-underline" {{tooltip "underline"}}></button>
  <button class="ql-strike" {{tooltip "strikethrough"}}></button>
</span>
<span class="ql-formats">
  <select class="ql-color" {{tooltip "fontColor"}}></select>
  <select class="ql-background" {{tooltip "highlightColor"}}></select>
</span>
<span class="ql-formats">
  <button class="ql-blockquote" {{tooltip "quote"}}></button>
  <button class="ql-code-block" {{tooltip "codeblock"}}></button>
  <button class="ql-link" {{tooltip "link"}}></button>
  <button class="ql-image" {{tooltip "image"}}></button>
</span>
<span class="ql-formats">
  <button class="ql-list" value="ordered" {{tooltip "numberedList"}}></button>
  <button class="ql-list" value="bullet" {{tooltip "bulletedList"}}></button>
</span>
<span class="ql-formats">
  <select class="ql-align" {{tooltip "alignment"}}></select>
</span>
<span class="ql-formats">
  <button class="ql-clean" {{tooltip "clearFormatting"}}></button>
</span>

